@import url('https://fonts.googleapis.com/css?family=Fira+Code:500,700|Poppins:500|Roboto:400,400i,700,700i&display=swap');

/* Typography */

body {
  font-family: $fontBody;
}

h1,
h2,
h3,
h4 {
  font-family: $fontHeader;
}

pre,
code {
  font-family: $fontCode;
  font-weight: 500;
  line-height: 1.4em;
}


/* Highlight.js Overrides for Github Theme */
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: rgb(0, 36, 87);
}

.hljs-title,
.hljs-section,
.hljs-selector-id,
.hljs-string,
.hljs-doctag {
  color: #005CDD;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #6D59F0;
}

/* Header */

.fixedHeaderContainer {
  background: #FFF;
  border-bottom: 1px solid black;
  color: #000;
}

.fixedHeaderContainer a {
  color: #000;
}

.navGroupCategoryTitle,
.navGroupSubcategoryTitle {
  font-family: $fontBody;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Content Helpers */

.button-group {
  display: flex;
}

.button-group .button {
  margin: 0 0 1em 1em;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
    color: #000;
  }
}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}